configuration/Global_element_config.dtd

<!-- Morfeas_Config.xml -->

<!-- Morfeas_OPC-UA_Config.xml -->
<!ELEMENT NODESet (CHANNEL*)>
<!ELEMENT CHANNEL (ISO_CHANNEL,INTERFACE_TYPE,ANCHOR,DESCRIPTION,MIN,MAX)>
<!ELEMENT ISO_CHANNEL (#PCDATA)>
<!ELEMENT INTERFACE_TYPE (#PCDATA)>
<!ELEMENT ANCHOR (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT MIN (#PCDATA)>
<!ELEMENT MAX (#PCDATA)>


