configuration/Morfeas.dtd

<!-- Morfeas_Config.xml -->
<!ELEMENT COMPONENTS (COMPONENT*)>
<!ELEMENT COMPONENT (NAME,OPTIONS*)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT OPTIONS (OPTION*)>
<!ELEMENT OPTION (FLAG,ARGUMENT?)>
<!ELEMENT FLAG (#PCDATA)>
<!ELEMENT ARGUMENT (#PCDATA)>

<!-- Morfeas_OPC-UA_Config.xml -->
<!ELEMENT NODESet (CHANNEL*)>
<!ELEMENT CHANNEL (ISO_CHANNEL,INTERFACE_TYPE,ANCHOR,DESCRIPTION,MIN,MAX)>
<!ELEMENT ISO_CHANNEL (#PCDATA)>
<!ELEMENT INTERFACE_TYPE (#PCDATA)>
<!ELEMENT ANCHOR (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT MIN (#PCDATA)>
<!ELEMENT MAX (#PCDATA)>


