configuration/Morfeas.dtd

<!-- Morfeas_Config.xml -->
<!ELEMENT CONFIG (LOGGERS_DIR,COMPONENT*)>
<!ELEMENT LOGGERS_DIR (#PCDATA)>
<!ELEMENT COMPONENT (TYPE, PROGRAM,ARGUMENTS*)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT PROGRAM (#PCDATA)>
<!ELEMENT ARGUMENTS (ARGUMENT*)>
<!ELEMENT ARGUMENT (OPTION,OPT_ARG?)>
<!ELEMENT OPTION (#PCDATA)>
<!ELEMENT OPT_ARG (#PCDATA)>

<!-- Morfeas_OPC-UA_Config.xml -->
<!ELEMENT NODESet (CHANNEL*)>
<!ELEMENT CHANNEL (ISO_CHANNEL,INTERFACE_TYPE,ANCHOR,DESCRIPTION,MIN,MAX)>
<!ELEMENT ISO_CHANNEL (#PCDATA)>
<!ELEMENT INTERFACE_TYPE (#PCDATA)>
<!ELEMENT ANCHOR (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT MIN (#PCDATA)>
<!ELEMENT MAX (#PCDATA)>


